{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Product</title>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock meta %}

{% block content %}
<!-- Sertakan navbar -->
{% include 'navbar.html' %}

<main class="min-h-screen pt-20 p-6" style="background: url('https://static.vecteezy.com/system/resources/previews/008/350/481/non_2x/sky-background-with-pastel-gradient-colors-free-vector.jpg') no-repeat center center fixed; background-size: cover;">  
    <div class="container bg-white bg-opacity-60 rounded-lg shadow-md p-6">
        <h2 class="text-xl font-semibold mb-4">Add New Product</h2>
        <!-- Form untuk menambahkan produk baru -->
        <form method="post" enctype="multipart/form-data">
            <!-- Token CSRF untuk keamanan -->
            {% csrf_token %}
            {{ form.as_p }}
            <!-- Tombol untuk mengirimkan form -->
            <button type="submit" class="bg-pink-700 hover:bg-pink-800 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
                Add Product
            </button>
        </form>
    </div>
</main>

<!-- Footer dengan warna pink dan teks copyright di tengah -->
<footer class="bg-pink-600 text-white mt-8">
    <div class="container text-center py-4">
        <p>&copy; 2024 Jopulee Gift</p>
    </div>
</footer>
{% endblock content %}
